.page-nav-bar{
    background-color: #3296fa;
}
.page-nav-bar .van-nav-bar__title{
    color: #fff;
}
.page-nav-bar .van-icon{
    color: #fff;
}
/* 隐藏滚动条 */
::-webkit-scrollbar {
    display: none;
}
